<div class="container">    
        
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"> 
        
        <div class="row">                
            <div class="text-center">
                {% image '@AppBundle/Resources/public/css/images/ccas.svg' %}
                    <img src="{{ asset_url }}" alt="logoCCAS" />
                {% endimage %}
            </div>
        </div>
        
        <div class="panel panel-default" >
            <div class="panel-body" >
                <div class="panel-title text-center">
                    <label>
                        Extracciones y Estadisticas CCAS
                    </label>    
                </div>
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if error %}
                        <div class="alert alert-danger" >Usuario y/o Contraseña incorrectos</div>
                    {% endif %}
                    
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    <div class="form-group">
                        <label for="username">
                            Usuario
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" id="username" name="_username" required="required"  placeholder="Usuario">                                        
                        </div>
                    </div>    
                    <div class="form-group">  
                        <label for="password">
                            Contraseña
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="Contraseña">
                        </div> 
                    </div>                                                                  

                    <div class="form-group">
                        <!-- Button -->
                            <input class="btn btn-primary btn-block" data-disable-with="Signing in…" name="commit" tabindex="3" type="submit" value="Iniciar Sesión">
                        
                    </div>

                </form>     

            </div>                     
        </div>  
    </div>
</div>
